

#text
{
  position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  color: white;
}
#overlay {
  position: absolute;
  top: 20px;
  left: 20px;
 
  z-index: 100;
}

#card
{
  margin-top: 50px;
  height: 75vh;
  width: 500px;
  align-items: center;
  
}
#list
{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50px;
}
